<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://bootswatch.com/4/sketchy/bootstrap.min.css"
    />
  </head>
  <style>
    .col-centered {
      margin: 0 auto;
      float: none;
  }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Api and Microservices Projects</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor03"
          aria-controls="navbarColor03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse w-100 order-3 dual-collapse2"
          id="navbarColor03"
        >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/api/v1/timestamp">Time</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/v1/whoami">Header</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/v1/upload">File</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/v1/urlshortener">URl</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/v1/users">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/v1/exercise">Exercise</a>
            </li>
          </ul>
        </div>
      </nav>
  <br />
  <br />
  <div>
    <a href="/"
      ><button type="button" class="btn btn-primary btn-lg">Home</button></a
    >
  </div>
  <br />
  <br />
  <br />
  <div class="text-center">
    <h2>Exercise Tracker Microservice</h2>
    <p>Add Exercise</p>


  </div>

  <br />
  <br />
  <br />

    <div class="col-lg-3 col-lg-offset-3 col-centered">
      <form class="form-group" action="/api/v1/exercise/add/" method="post">
        <div class="form-group">
          <label for="userid">User ID</label>
          <input type="text" id="userid" name="userid" class="form-control" placeholder="get an user_id from Create User microservice. (..api/v1/users)"/>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" name="description" class="form-control" placeholder="description, e.g., running, swimming, gymnastics, or tennis"/>
        </div>
        <div class="form-group">
          <label for="duration">Duration</label>
          <input type="text" id="duration" name="duration" class="form-control" placeholder="in minutes"/>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" id="date" name="date" class="form-control" placeholder="date in YYYY-MM-DD format"/>
        </div>
        <input
          type="submit"
          value="Add Exercise"
          class="btn btn-primary btn-block"
        />
      </form>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class='text-center'>
      <p>GET users's exercise log: GET /api/exercise/log?{userId}[&from][&to][&limit]</p>
      <p>{ } = required, [ ] = optional</p>
      <small>from, to = dates (yyyy-mm-dd); limit = number</small>
    </div>

  </div>
</body>
</html>
