<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Freecodecamp Api and Microservices Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://bootswatch.com/4/sketchy/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Api and Microservices Projects</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor03"
        aria-controls="navbarColor03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse w-100 order-3 dual-collapse2"
        id="navbarColor03"
      >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/timestamp">Time</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/whoami">Header</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/upload">File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/urlshortener">URl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/users">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/exercise">Exercise</a>
          </li>
        </ul>
      </div>
    </nav>

    <br />

    <div class="list-group">
      <a
        href="/api/v1/timestamp"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Time Stamp Microservice</h5>
          <small>1 days ago</small>
        </div>
        <p class="mb-1">
          It will return a json with current date time if nothing is passed in
          the link.
        </p>
        <small
          >Try passing a date in utc or unix format in the link. Like-
          ../api/v1/timestamp/dec 12 2008</small
        >
      </a>
      <a
        href="/api/v1/whoami"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Header Parser Microservice</h5>
          <small class="text-muted">1 days ago</small>
        </div>
        <p class="mb-1">
          It will grab system information about a system connected to the
          server.
        </p>
        <small class="text-muted">Try with your phone for fun</small>
      </a>
      <a
        href="/api/v1/upload"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">File Metadata Microservice</h5>
          <small>1 days ago</small>
        </div>
        <p class="mb-1">Returns a json with the uploaded file information.</p>
        <small>Upload any file </small>
      </a>
      <a
        href="/api/v1/urlshortener"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">URL Shortner and Redirect Microservice</h5>
          <small>Today</small>
        </div>
        <p class="mb-1">
          Returns a json with a shortend version of the URL provided. Also
          redirects to the original URL when a valid short url is provided.
        </p>
        <small
          >Valid URL are in the format of "http:\\.." or "https:\\.."</small
        >
      </a>
      <a
        href="/api/v1/users"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Create User for Exercise-Tracker Microservice</h5>
          <small>Today</small>
        </div>
        <p class="mb-1">
          Returns a json with a new user or if the user exists, returns user.
        </p>
        <small>Create a user</small>
      </a>
      <a
        href="/api/v1/exercise"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Exercise-Tracker Microservice</h5>
          <small>Today</small>
        </div>
        <p class="mb-1">Add exercises to user.</p>
        <small>Track with ..api/v1/exercise/log</small>
      </a>
    </div>
  </body>
</html>
