<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Url Shortener and redirect Microservice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://bootswatch.com/4/sketchy/bootstrap.min.css"
    />
  </head>
  <style>
      .col-centered {
        margin: 0 auto;
        float: none;
    }
  </style>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Api and Microservices Projects</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarColor03"
            aria-controls="navbarColor03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse w-100 order-3 dual-collapse2"
            id="navbarColor03"
          >
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/api/v1/timestamp">Time</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/api/v1/whoami">Header</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/api/v1/upload">File</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/api/v1/urlshortener">URl</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/api/v1/users">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/api/v1/exercise">Exercise</a>
              </li>
            </ul>
          </div>
        </nav>
    <br />
    <br />
    <div>
      <a href="/"
        ><button type="button" class="btn btn-primary btn-lg">Home</button></a
      >
    </div>
    <br />
    <br />
    <br />
    <div class="text-center">
      <h2>URL Shortener and Redirector</h2>
      <br />
      <p>Provide URL into the field below, or go to "../api/v1/urlshortener/new/:URL"</p>

      <p>To test shortened URL: go to "../api/v1/urlshortener/short/:shortURL". It redirects to URL.</p>
    </div>

    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-lg-6 col-lg-offset-4 col-centered">
        <form class="input-group" action="/api/v1/urlshortener/new/" method="post">
          <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Enter URL here. Don't forget to add http://.. or https://"
            id="urlstr"
            name="urlstr"
          />
          <input type="submit" value="Shorten my URL" />
        </form>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    </div>
  </body>
</html>
